
.charts {
    margin: auto;
}

.charts_div {
    overflow-x:auto;
    color: #e9e9e9
}

.ctl_label{
    color: white;
}

body {
    background-color: #0a1330;
}
.loader_main {
    display: inline-block;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #59c3c3;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

.loader_weeks {
    display: inline-block;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #82ca9d;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

.loader_predict {
    display: inline-block;
    border: 5px solid #fca326;
    border-radius: 50%;
    border-top: 5px solid #fc2d26;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pannel_loader {
    margin: auto;
    margin-top: 10%;
    text-align: center;
}

/*
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
*/

.pannel_show_lines {
    margin: auto;
    display: block;
}

.overflow_pannel {
    overflow: auto;
}

.white_text {
    color: #fff;
}

.center_text {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}